<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/lib/bootstrap-4.4.0-dist/css/bootstrap.min.css">
    <script src="/lib/bootstrap-4.4.0-dist/js/bootstrap.min.js"></script>
</head>
<body class="p-3">

    <div class="container">
        <h1 class="text-center mb-4">Trang chủ</h1>
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-primary btn-block" href="#" role="button">
                    Quản lí thông tin cầu thủ
                </a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-primary btn-block" href="#" role="button">
                    Lên lịch thi đấu
                </a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-primary btn-block" href="#" role="button">
                    Đăng kí danh sách cầu thủ cho trận đâu
                </a>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-md-4">
                <a class="btn btn-primary btn-block" href="#" role="button">
                    Phân công tổ trọng tài
                </a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-primary btn-block" href="#" role="button">
                    Cập nhật kết quả
                </a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-primary btn-block" href="#" role="button">
                    Thanh toán tiền công trọng tài
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-primary btn-block" href="#" role="button">
                    Kí hợp đồng bản quyền
                </a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-primary btn-block" href="#" role="button">
                    Thanh toán tiền bản quyền
                </a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-primary btn-block" href="/thongke" role="button">
                    Thống kê
                </a>
            </div>
        </div>
    </div>
</body>
</html>