<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thống kê thẻ phạt đội bóng</title>
    <link rel="stylesheet" href="/lib/bootstrap-4.4.0-dist/css/bootstrap.min.css">
    <style>
        .loader {
          border: 16px solid #f3f3f3; /* Light grey */
          border-top: 16px solid #3498db; /* Blue */
          border-radius: 50%;
          width: 120px;
          height: 120px;
          animation: spin 2s linear infinite;
          margin: 0 auto;
        }

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
        .table-row{
            cursor:pointer;
        }
    </style>
</head>
<body class="p-3">
    <div class="container">
        <a class="btn btn-primary" href="/thongke" role="button">Trở lại</a>
        <h1 class="text-center m-5">Thống kê thẻ phạt đội bóng</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Mã đội</th>
                    <th scope="col">Đội bóng</th>
                    <th scope="col">Tổng thẻ đỏ</th>
                    <th scope="col">Tổng thẻ vàng</th>
                    <th scope="col">Tổng số lỗi</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div class="loader"></div>
    </div>
</body>
<script src="/lib/jquery/jquery-3.3.1.slim.min.js"></script>
<script src="/lib/jquery/popper.min.js"></script>
<script src="/lib/bootstrap-4.4.0-dist/js/bootstrap.min.js"></script>
<script>
    var url = 'http://localhost:8080/api/statistic/all'
    $.get(url, function(data, status) {
        if (status === 'success') {
            for(i = 0; i< data.length; i++) {
                console.log(data[i]);
                $("tbody").append(
                '<tr class="table-row" data-href="/tktpdoibong/team/'+data[i]['id']+'">' +
                '<th scope="row">'+data[i]['id']+'</th>' +
                '<td>'+data[i]['tenDoiBong']+'</td>' +
                '<td>'+data[i]['soTheDo']+'</td>' +
                '<td>'+data[i]['soTheVang']+'</td>' +
                '<td>'+data[i]['soLoi']+'</td>')
            }
           
        }
        $(".loader").hide();
        $(".table-row").click(function() {
            window.document.location = $(this).data("href");
        });
    })
    
</script>
</html>